
.font-family {
     font-family: "Open Sans", sans-serif;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    display: flex;
    gap: 30px;
    list-style: none;
}

.link li a {
    text-decoration: none;
}