*{
    margin: 0;
    padding: 0;
}

/* .max-width  {
max-width: 1500px;
margin: 130px auto;
} */

.font-family {
     font-family: "Open Sans", sans-serif;
}

.header-container {
    background-color: #FFF8F3;
    padding: 10px;
    background-image: url(../developer.png),url(../header_bg.png);
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-weight: bold;
    font-size: 30px;
}

.name {
    color: #FD6E0A;
}

.link-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    display: flex;
    gap: 30px;
    list-style: none;
}

.link li a {
    text-decoration: none;
    color: #474747;
}

.btn {
    color: white;
    background-color: #FD6E0A;
    padding: 15px;
    font-weight: semi-bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

/* banner section */

.banner-section  {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_section {
    /* margin-right: 300px; */
}

.i_am {
    color: #474747;
    font-weight: 700;
    font-size: 35px;
}

.bannaer_name {
    font-weight: bold;
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.banner_paragraph{
    color: #757575 ;
    font-size: 14px;
    margin-bottom: 30px;
}

.btn_primary {
    margin-left: 30px;
    padding: 15px;
    font-weight: semi-bold;
    font-size: 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    padding-left: 30px;
    padding-right: 30px;
}

.banner-img {
    width: 584px;
    margin-bottom: -15px;
}
