
.font-family {
     font-family: "Open Sans", sans-serif;
}

.header-container {
    background-color: #FFF8F3;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-weight: bold;
    font-size: 30px;
}

.name {
    color: #FD6E0A
}

.link-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    display: flex;
    gap: 30px;
    list-style: none;
}

.link li a {
    text-decoration: none;
    color: #474747;
}

.btn {
    color: white;
    background-color: #FD6E0A;
    padding: 15px;
    font-weight: semi-bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}