*{
    margin: 0;
    padding: 0;
}

.max-width  {
max-width: 1140px;
margin: 130px auto;
background-color: #FFF8F3;
align-items: center;
text-align: center;
padding:100px ;
border-radius: 5px;
}

.font-family {
     font-family: "Open Sans", sans-serif;
}

.header-container {
    background-color: #FFF8F3;
    padding: 10px;
    background-image: url(../developer.png),url(../header_bg.png);
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-weight: bold;
    font-size: 30px;
    margin: 0px 120px;

}

.name {
    color: #FD6E0A;
}

.link-item {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0px 180px;
}

.link {
    display: flex;
    gap: 30px;
    list-style: none;
}

.link li a {
    text-decoration: none;
    color: #474747;
}

.btn {
    color: white;
    background-color: #FD6E0A;
    padding: 15px;
    font-weight: semi-bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

/* banner section */

.banner-section  {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}

.left_section {
    /* margin-right: 300px; */
}

.i_am {
    color: #474747;
    font-weight: 700;
    font-size: 35px;
}

.bannaer_name {
    font-weight: bold;
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.banner_paragraph{
    color: #757575 ;
    font-size: 14px;
    margin-bottom: 30px;
}

.btn_primary {
    margin-left: 30px;
    padding: 15px;
    font-weight: semi-bold;
    font-size: 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    padding-left: 30px;
    padding-right: 30px;
}

.banner-img {
    width: 584px;
    margin-bottom: -15px;
}

/* about */

.about-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}
.about-description {
    color: #757575;
    font-size: 16px;
    margin-bottom: 30px;
}

.about-card {
    display: flex;
    justify-content: space-around;
}
.about-name {
    color: #757575;
}

/* my_intro */

.my_intro   {
    text-align: center;
    
}
.what {
    font-weight: bold;
    font-size: 30px;
     margin-bottom: 30px;
}
.description {
    color: #757575;
}

/* card section */

.card-container {
    display: flex ;
    justify-content: space-around;
    gap:24px ;
    /* margin-top: 50px; */
    max-width: 1140px;
    margin: 50px auto;
}

.card {
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.09);
    border-radius: 5px;
    padding: 20px;
}
.card-img {
    margin-bottom: 30px;
}
.card-title {
    margin-bottom: 30px;
}
.card-description {
    color: #757575;
}
/* main part2 */
.header-one{
      margin-bottom: 25px;
}
.position {
    color: #474747;
    margin-top: 40px;
    
}

.prhg {
    color: #757575;
    margin-top: 8px;
    margin-bottom: 15px;

}
 .my-class {
    display: flex;
    justify-content:space-around;
    max-width: 1140px;
    margin: 30px auto;
    gap: 24px;
    

}
.dwld{
     display: flex;
      align-items: center; 
      justify-content:center; 
      margin-top: 20px ;

}
.container{
      color: white;
    background-color: #FD6E0A;
    padding: 15px;
    font-weight: semi-bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
 
}
